<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo =D</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Todo's", todos_path %></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Logout</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete   %></li>
        <% else %>
          <li><%= link_to "Login", user_session_path %></li>
          <li><%= link_to "Crear cuenta", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>